<html>
  <head>
    <title>Balcony Premier League</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>

    {% include 'nav_bar.html' %}
    
    <div class="container">
       <img class="img-fluid" id="banner" width="120" height="96" src="/static/bpl_logo.jpg" >
      <h1>Please login</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}"><br><br>
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}"> <br><br>
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>
